.path {
	stroke: #000;
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	stroke-width: 3;
	animation: dash 3s linear forwards;
}

@keyframes dash {
	to {
		stroke-dashoffset: 0;
	}
}

.laser {
	stroke: #ffa32b;
	stroke-dasharray: 1000;
	stroke-dashoffset: 900;
	stroke-width: 5;
	animation: dash 3s linear forwards;
}
.laser-trail {
	stroke: #7c1212;
	stroke-dasharray: 1000;
	stroke-dashoffset: 950;
	stroke-width: 5;
	animation: dash 3s linear forwards;
}